<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>variant</th>
      <th>chr</th>
      <th>start</th>
      <th>end</th>
      <th>ref</th>
      <th>alt</th>
      <th>allele</th>
      <th>peptide</th>
      <th>length</th>
      <th>ic50</th>
      <th>percentile_rank</th>
      <th>gene</th>
      <th>gene_id</th>
      <th>transcript</th>
      <th>transcript_id</th>
      <th>effect</th>
      <th>effect_type</th>
      <th>prediction_method</th>
      <th>protein_length</th>
      <th>protein_mutation_start</th>
      <th>protein_mutation_end</th>
      <th>peptide_start_in_protein</th>
      <th>novel_epitope</th>
      <th>contains_mutant_residues</th>
      <th>occurs_in_self_ligandome</th>
      <th>mutation_start_in_peptide</th>
      <th>mutation_end_in_peptide</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
